@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 80px;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  height: 200px;
}

.home-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svg1 {
  height: 200px;
  margin-top: 50px;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

.content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.photo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.photo12 {
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25), 0px 1px 0px #000 inset;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25), 0px 1px 0px #000 inset;
}

.photo12:hover, .photo12:focus {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.image1 {
  height: 200px;
  width: 200px;
  margin-top: 1%;
  border-radius: 6px;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

.image1:hover, .image1:focus {
  -webkit-transform: scale(1.3) rotate(720deg);
          transform: scale(1.3) rotate(720deg);
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
  overflow: visible;
  z-index: 100;
}

@media screen and (max-width: 800px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */