.about{
    margin-top: 100px;
}
.sp1{
    animation: anim 4s infinite linear;
    font-size: 44px;
} 
.sp2{
    animation: anim2 4s infinite linear;
    font-size: 44px;
} 
.sp1:hover, .sp1:focus, .sp2:hover, .sp2:focus {
    color: var(--primary-color-dark);
}
.cont{
    size: 15em;
    color: var(--primary-color-dark);
}

@keyframes anim{
0%,100%{
    transform: translateX(-20px);
}
50%{
    transform: translateX(100px);
    
}
}

@keyframes anim2{
    0%,100%{
    transform: translateX(100px);
    
    }
    50%{
        transform: translateX(-20px);
    }
    }

    .sp3{
        font-size: 20px;
    }