.headmain {
  background-color: var(--primary-color-light);
  height: 52px;
  width: 100%;
  z-index: -100;
}

.sign {
  font-family: "Brush Script MT", cursive;
  font-size: 35px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fullmenu ul {
  list-style: none;
  letter-spacing: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

.btn:hover {
  opacity: 0.9;
}

.menu-wrap {
  position: fixed;
  opacity: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 1rem;
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Lines Hamburger*/
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}

/*Toggler animate*/
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/*Rotate on hover*/
.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

/* show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: var(--menu-speed);
          transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0.8;
}

.menu-wrap .menu > div > span {
  width: 200%;
  padding-bottom: 200%;
  height: auto;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: var(--primary-color-dark);
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.lo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

.words {
  color: var(--primary-color);
  font-size: 0;
  line-height: 1.5;
  margin-top: 10px;
}

.words span {
  font-size: 1.5rem;
  display: inline-block;
  -webkit-animation: move 3s ease-in-out infinite;
          animation: move 3s ease-in-out infinite;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.words span:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.words span:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.words span:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.words span:nth-child(6) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.words span:nth-child(7) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.words span:nth-child(8) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@media screen and (max-width: 800px) {
  .menu-wrap {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */